# Build
bin/
obj/

# Certificados e segredos
*.pfx
*.p12
.env

# Logs e debug
*.log
*.binlog
*.txt
msbuild.binlog
erro_runtime.txt
myeasylog.log

# Ferramentas externas
procdump/
Procdump.zip

# VS
.vs/
