# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Vercel 
VERCEL_ORG_ID=
VERCEL_PROJECT_ID=
VERCEL_TOKEN=

# Google AI
GEMINI_API_KEY=

# .NET Environment Settings
ASPNETCORE_ENVIRONMENT=
DOTNET_WATCH_RESTART_ON_RUDE_EDIT=